.space{
  width: 100vw!important;
  height: 70vh!important;
  text-align: center;
}

.space-50{
  width: 100vw!important;
  height: 50vh!important;
}


.img{
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.card {
  border-color: transparent!important;

}

