.title, .about-us-content{
  font-family: Courier;
  padding-top: 5vh;
  padding-left: 13vw;
  padding-right: 13vw;
  
  
}

.title{
  font-weight: bold;
}

.about-us-content{
  padding-top: 2vh;
}


.form-control{
  max-height: 5vh!important;
}